input{

	font-size:35pt ;
	font-family:algerian;
	text-align:center;
	background-color:lightblue;
	text-decoration:underline;
}
center{
	font-size:40pt;
	font-family:algerian;
}
table{
	 background-image:url(c.jpg);
	 font-size:24px;
	 font-style:bold;
	 height:40%;
	 width:60%;
	 
	 border-color:black;
}
img{
	border-style:double;
	border-color:"grey";
}
tr{
	
	font-style:bold;
	font-family:Raleway;
	
	text-align:center;
}
th{
	text-decoration:underline;
	font-size:30px;
}
.simple{
	border-style:double;
	border-color:black;
	border-width:2px;
}
